:root {
  --white: #e8e9eb;
  --black: #191716;
  --red: #a44a3f;
  --green: #3f6c51;
  --yellow: #ffba08;
  --dark-yellow: #ae8e1c;
  --purple: #a288e3;
}
 
@font-face {
  font-family: 'EscapeFont';
  src: url('../fonts/escapefrom.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'EscapeFont', sans-serif;
  background-color: var(--white);
  color: var(--black);
  margin: 0;
  padding: 0;
}

.img-center {
  display: block;
  margin: auto;
}

.text-layout {
  text-align: center;
  margin: auto;
}